<!doctype html>
<html lang="">
	<head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="cleartype" content="on">

        <!-- Disable translation prompt
        <meta name="google" value="notranslate"> -->

        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
        <meta name="format-detection" content="telephone=no">
        <meta name="theme-color" content="#основной цвет сайта">

        {{!--
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Disable link highlighting on IE 10 on Windows Phone (https://blogs.windows.com/buildingapps/2012/11/15/adapting-your-webkit-optimized-site-for-internet-explorer-10/) -->
        <meta name="msapplication-tap-highlight" content="no">

        <!-- Add to homescreen -->
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <meta name="MobileOptimized" content="320">
        <meta name="HandheldFriendly" content="True">
         --}}

		<title>{{titleName}}</title>
	
		<link href="https://fonts.googleapis.com/css?family=Ranga" rel="stylesheet"/>
		<link rel="stylesheet" href="css/style.css">

	</head>

	<body>
		{{> header/header}}

		<script src="js/plugins.min.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>