<div class="top">static lp generator version: 0.0.9</div>
<div class="section">{{firstName}}<div class="section2"><a href="https://github.com/Litvinov-Victor/poly-bem" class="link" target="_blank">Source code on GitHub</a></div></div>
<div class="bot">author: <a href="https://github.com/Litvinov-Victor" class="link" target="_blank">Litvinov Victor</a></div>